<div style='border: dashed red;'>
  <img src='https://bit.ly/3pyLUpj'>
</div>

<% if @name %>
<h1> Our names are <%= "#{@name} & #{@name}!" %></h1>
<% else %>
<h1> Our names are <%= @pet_names %></h1>
<% end %>
